@model EndToEnd.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}



<div class="login-box">
    <div class="login-logo">
        <h2>@ViewBag.Message</h2>

        <a href="@Url.Action("Index", "Home")"> <b style="text-decoration: underline">FINCORE MESSAGING </b></a>
    </div>
    <hr/>
    <div class="login-box-body">
        <p class="login-box-msg"><b style="color: deepskyblue; font-size: 1.5em">FORGOT PASSWORD ? </b></p> <br/>


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group has-feedback">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , placeholder = "Enter Email" })
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary  btn-flat" value="Send Email Link" />
        </div>
    </div>
}
    <a href="@Url.Action("Login")">Back To Login</a><br> <br/>
    @*<a href="@Url.Action("Register", "Account")" class="text-center">Register as a new user</a>*@
    </div>
</div>

